<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collector List</title>
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/admin.css">
    <link rel="stylesheet" href="/hamburger.css">
</head>
<body>
    <header>
        <h1>CleanCity</h1>

        <!-- Hamburger button -->
        <div class="hamburger" >
            <span></span>
            <span></span>
            <span></span>
        </div>

        <% if (locals.user) { %>
            <nav id="main-nav">
                <a href="/admin">Home</a>
                <a href="/admin/collector">Collectors</a>
                <a href="/admin/create">Create</a>
                <a href="/admin/user">Users</a>
                <a href="/admin/complain">Complains</a>
                <a href="/admin/task">Tasks</a>
                <a href="/admin/drives">Drives</a>
                <a href="/admin/logout">Logout</a>
            </nav>
        <% } else { %>
            <nav id="main-nav">
                <a href="/">Home</a>
                <a href="/signin">Signin</a>
                <a href="/signup">Signup</a>
            </nav>
        <% } %>
    </header>

    <div class="container">
        <% if (locals.user) { %>
            <% collectors.forEach(collector => { %>
                <div class="user-card">
                    <div class="user-info">
                        <span class="user-name"><%= collector.firstname %> <%= collector.lastname %></span>
                    </div>
                    <div class="user-info">
                        <span class="user-email">Email: <%= collector.email %></span>
                    </div>
                    <div class="user-info">
                        <span class="user-role">Role: <%= collector.role %></span>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>

    <script>
        const hamburger = document.querySelector('.hamburger');
        const nav = document.getElementById('main-nav');

        hamburger.addEventListener('click', () => {
            hamburger.classList.toggle('active');
            nav.classList.toggle('active');
        });
    </script>
</body>
</html>
