<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complains - CleanCity</title>
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>CleanCity</h1>
        <% if (locals.user) { %>
            <nav>
                <a href="/admin">Home</a>
                <a href="/admin/collector">Collectors</a>
                <a href="/admin/create">Create</a>
                <a href="/admin/user">Users</a>
                <a href="/admin/complain">Complains</a>
                <a href="/admin/task">Tasks</a>
                <a href="/admin/drives">Drives</a>
                <a href="/admin/logout">Logout</a>
            </nav>
            <% } else { %>
                <nav>
                    <a href="/">Home</a>
                    <a href="/signin">Signin</a>
                    <a href="/signup">Signup</a>
                </nav>
                <% } %>
    </header>

    <div class="container">
        <div class="cards-wrapper">
            <% complains.forEach(element=> { %>
                <div class="complain-card">
                    <p class="complain-text">
                        <%= element.complain %>
                    </p>
                    <p class="complain-date">Reported on <%= new Date(element.date).toLocaleString('en-US', {
                            year: 'numeric' , month: 'long' , day: 'numeric' , hour: '2-digit' , minute: '2-digit' }) %>
                    </p>
                    <img class="complain-image" src="<%= element.imageURL %>" alt="Litter Image">
                </div>
                <% }) %>
        </div>
    </div>

</body>

</html>