<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CleanCity - Users</title>
  <link rel="stylesheet" href="/navbar.css">
  <link rel="stylesheet" href="/admin.css">
  <link rel="stylesheet" href="/hamburger.css">
</head>

<body>
  <header>
    <h1>CleanCity</h1>
    <div class="hamburger" >
      <span></span>
      <span></span>
      <span></span>
    </div>

    <% if (locals.user) { %>
      <nav id="main-nav">
        <a href="/admin">Home</a>
        <a href="/admin/collector">Collectors</a>
        <a href="/admin/create">Create</a>
        <a href="/admin/user">Users</a>
        <a href="/admin/complain">Complains</a>
        <a href="/admin/task">Tasks</a>
        <a href="/admin/drives">Drives</a>
        <a href="/admin/logout">Logout</a>
      </nav>
    <% } else { %>
      <nav id="main-nav">
        <a href="/">Home</a>
        <a href="/signin">Signin</a>
        <a href="/signup">Signup</a>
      </nav>
    <% } %>
  </header>

  <div class="user-container">
    <% for (let index = 0; index < allUsers.length; index++) { %>
      <div class="user-card">
        <p><strong>First Name:</strong> <%= allUsers[index].firstname %></p>
        <p><strong>Last Name:</strong> <%= allUsers[index].lastname %></p>
        <p><strong>Email:</strong> <%= allUsers[index].email %></p>
        <p><strong>Date of Birth:</strong> <%= new Date(allUsers[index].date).toLocaleDateString('en-US') %></p>
        <hr>
      </div>
    <% } %>
  </div>

  <script>
    const hamburger = document.querySelector('.hamburger');
        const nav = document.getElementById('main-nav');

        hamburger.addEventListener('click', () => {
            hamburger.classList.toggle('active');
            nav.classList.toggle('active');
        });
  </script>

</body>

</html>
