<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CleanCity - Update Status</title>
    <link rel="stylesheet" href="/navbar.css" />
    <link rel="stylesheet" href="/collector.css">
    <link rel="stylesheet" href="/hamburger.css">
</head>

<body>
    <header>
        <h1>CleanCity</h1>

        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <% if (locals.user) { %>
            <nav id="main-nav">
                <a href="/collector/profile">Profile</a>
                <a href="/collector/task">Tasks</a>
                <a href="/collector/logout">Logout</a>
            </nav>
        <% } else { %>
                <nav id="main-nav">
                    <a href="/">Home</a>
                    <a href="/signin">Signin</a>
                    <a href="/signup">Signup</a>
                </nav>
                <% } %>
    </header>

    <h2 class="update-status-title">Update Task Status</h2>
    <form class="update-status-form" action="/collector/update/<%= task._id %>" method="post">
        <label for="status">Enter Status:</label>
        <select name="status" id="status">
            <option value="inProgress" <%=task.status==='inProgress' ? 'selected' : '' %>>In Progress</option>
            <option value="aboutToComplete" <%=task.status==='aboutToComplete' ? 'selected' : '' %>>About To Complete
            </option>
            <option value="completed" <%=task.status==='completed' ? 'selected' : '' %>>Completed</option>
        </select>
        <button type="submit">Update</button>
    </form>

    <script>
        const hamburger = document.querySelector('.hamburger');
        const nav = document.getElementById('main-nav');

        hamburger.addEventListener('click', () => {
            hamburger.classList.toggle('active');
            nav.classList.toggle('active');
        });
    </script>
</body>

</html>