<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/admin">Home</a></li>
            <% if (locals.user) { %>
                <li><a href="/admin">Collectors</a></li>
                <li><a href="/admin/user">Users</a></li>
                <li><a href="/admin/complain">Complains</a></li>
                <li><a href="/admin">Tasks</a></li>
                <li><a href="/admin/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/signin">Signin</a></li>
                <li><a href="/signup">Signup</a></li>
            <% } %>
        </ul>
    </div>

    <% if (locals.user) { %>
        <h1>This is Admin Page</h1>
    <% } %>
</body>
</html>