<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>CleanCity</h1>
        <% if (locals.user) { %>
            
            <nav>
                <a href="/admin">Home</a>
                <a href="/admin/collector">Collectors</a>
                <a href="/admin/create">Create</a>
                <a href="/admin/user">Users</a>
                <a href="/admin/complain">Complains</a>
                <a href="/admin/task">Tasks</a>
                <a href="/admin/logout">Logout</a>
            </nav>
        <% } else { %>
            <nav>
                <a href="/">Home</a>
                <a href="/signin">Signin</a>
                <a href="/signup">Signup</a>
            </nav>
        <% } %>
    </header>
    <% if (locals.user) { %>
        <% collectors.forEach(collector => { %>
            Name: <%= collector.firstname %> <%= collector.lastname %><br>
            Email: <%= collector.email %> <br>
            Role: <%= collector.role %>
            <hr>
        <% }) %>
        
    <% } %>
</body>
</html>